# SPDX-License-Identifier: GPL-2.0

# LEGACY_WEXT_ALLCONFIG Discussed upstream, soundly rejected as a unique
# problem for GKI to solve.  It should be noted that these extensions are
# in-effect deprecated and generally unsupported and we should pressure
# the SOC vendors to drop any modules that require these extensions.
config GKI_LEGACY_WEXT_ALLCONFIG
    bool "Hidden wireless extension configs needed for GKI"
    select WIRELESS_EXT
    select WEXT_CORE
    select WEXT_PROC
    select WEXT_SPY
    select WEXT_PRIV
    help
      Dummy config option used to enable all the hidden legacy wireless
      extensions to the core wireless network functionality used by
      add-in modules.

      If you are not building a kernel to be used for a variety of
      out-of-kernel built wireless modules, say N here.

