# SPDX-License-Identifier: GPL-2.0-only
#
# PTP clock support configuration
#

menu "PTP clock support"

config PTP_QCOM_CLOCK_TSC_VM
	tristate "QCOM TSC virtual PTP clock"
	help
	  This driver adds support for reading the TSC timestamp using the
	  PTP clock gettime operation on a virtual machine(VM).

	  To compile this driver as a module, choose M here: the module
	  will be called ptp_qcom_tsc_vm.

endmenu
