# SPDX-License-Identifier: GPL-2.0-only
if PWM

config PWM_QCOM
	tristate "Qualcomm Technologies, Inc. PWM support"
	depends on ARCH_QCOM
	help
	  Generic PWM framework driver for the PWM controller found on
	  Qualcomm Technologies Inc. SoCs.

	  To compile this driver as a module, choose M here: the module
	  will be called pwm-qcom.

endif
