#!/usr/bin/make -f
# SPDX-License-Identifier: GPL-2.0-only

include debian/rules.vars

export MAKE := /usr/bin/make
export SRCARCH := arm64
export KERNELRELEASE=`grep 'UTS_RELEASE' ./include/generated/utsrelease.h | cut -d'"' -f2`
export KERNELVERSION=$(awk '/^VERSION =|^PATCHLEVEL =|^SUBLEVEL =/ {print $3}' "$MAKEFILE" | paste -sd '.' -)
export KCONFIG_CONFIG=./arch/arm64/configs/defconfig
export KBUILD_DEBARCH=arm64
export ARCH=arm64

export srctree = .

ifneq (,$(filter-out parallel=1,$(filter parallel=%,$(DEB_BUILD_OPTIONS))))
    NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    MAKEFLAGS += -j$(NUMJOBS)
endif

.PHONY: binary binary-indep binary-arch
binary: binary-arch binary-indep
binary-indep: build-indep
binary-arch: build-arch
	$(srctree)/scripts/package/builddeb

.PHONY: build build-indep build-arch
build: build-arch build-indep
build-indep:
build-arch:

.PHONY: clean
clean:
